body {
 font-family: Arial, sans-serif;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-image: url(papel.jpg);
 background-size: cover;
}

.container {
 min-width: 50%;
 max-width: 80%;
 margin: 20px auto;
 padding: 0 20px;
 border: 8px solid #000000;
 border-radius: 20px;
 background-color: aliceblue;
}

h1 {
 width: max-content;
}

h2 {
 text-align: center;
 width: max-content;
 text-decoration: underline;
}

input {
 border: 2px solid #000000;
 border-radius: 10px;
 width: 70%;
 padding: 10px;
 margin-bottom: 10px;
}

button {
 padding: 10px 20px;
 color: white;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 margin-top: 10px;
}

.task {
 margin-bottom: 5px;
 display: flex;
 align-items: center;
}

.task input[type="checkbox"] {
 margin-right: 10px;
}

li {
 font-size: 20px;
 font-weight: bold;
}

#btnADD{
    background-color: #45a049;
}

#btnADD:hover {
    background-color: #327135;
   }

#remove {
 background-color: brown;
}

#concluir {
    background-color: orange;
  }
  
#concluido {
    background-color: #4caf50;
  }
  

#btns {
 display: flex;
 flex-direction: row;
 gap: 10px;
}